html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  margin: auto;
  padding-top: 150px; /* height of navbar */
  padding-bottom: 40px; /* height of footer */
  text-align: center;
  background-color: #fefaf1;
  color: black;
  box-sizing: border-box;
}

.body {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10vw; /* width of sidebar */
  height: 100%;
  box-sizing: border-box;
}

.navbar {
  margin: 0;
  padding: 0;
  background-color: #9caf88;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  display: flex;
  justify-content: center;
  color: #fdc685;
}

.navbar img {
  height: 150px;
  width: 150px;
  padding: 0;
}

.RecipeCard {
  border: 2px solid black;
  padding: 1em;
  margin: 0.5em;
  width: 200px;
  text-align: center;
}

.recipeList {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}

.recipeCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

#sidebar {
  background-color: #fdc685;
  width: 10vw;
  position: fixed;
  top: 150px; /* adjusted for navbar height */
  bottom: 40px; /* adjusted for footer height */
  left: 0;
  height: calc(100vh - 190px); /* height minus navbar and footer */
  z-index: 1000;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#sidebar a {
  color: #6b8e23;
}

#sidebar a:hover {
  color: #fa7d93;
}

.side-items {
  width: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: left;
  margin: 0;
  padding: 10px;
}

.footer {
  background-color: #9caf88;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 40px;
  z-index: 1001;
  left: 0;
}

.footer a {
  color: #6b8e23;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.add-btn {
  height: 80px;
  width: auto;
  background-color: #fa7d93;
  color: #fefaf1;
}
